:root {
  /* colors */
  --text-color-black: #4f4f4f;
  --text-color-grey: #828282;
  --light-grey: #c4c4c4;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color-black);
  max-width: 1024px;
  margin: 40px auto;
  background-color: gainsboro;
}

.card {
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: min-content;
}

.card h2 {
  margin-top: 0;
  font-size: 24px;
}

@media (max-width: 1024px) {
  body {
    padding: 24px;
    margin: 0;
    font-size: 16px;
  }
}
@media (max-width: 985px) {
  body {
    font-size: 18px;
    padding: 40px;
  }
}
@media (max-width: 950px) {
  body {
    padding: 40px 80px;
  }
  .card {
    padding: 40px;
  }
}
@media (max-width: 640px) {
  body {
    padding: 40px;
  }
  .card {
    padding: 24px;
  }
}
@media (max-width: 540px) {
  body {
    padding: 24px;
  }
  .card {
    padding: 16px;
  }
}
@media (max-width: 375px) {
  body {
    padding: 16px;
  }
}
